@body-bg: whitesmoke;
@nav-bg: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 60%, rgba(128,128,128,0.25) 100%);
@header-bg: cornflowerblue;
@main-article-bg: white;
@footer-bg: whitesmoke;

//@main-bg: linear-gradient(to bottom, cornflowerblue 50px, whitesmoke 0);

@table-header-bg: #36c;
@table-header-text: white;
@table-body-bg: gray(140);
@table-body-text: #333;
@table-body-text-transp: #ccc;

@a-color: darkblue;
@a-hover-color: black;

@breakpoint: 500px;