@body-bg: whitesmoke;
@nav-bg: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 80%, rgba(222,222,222,1) 100%);
@header-bg: cornflowerblue;
@main-article-bg: white;
@footer-bg: cornflowerblue;

@footer-text: white;

//@main-bg: linear-gradient(to bottom, cornflowerblue 50px, whitesmoke 0);

@table-header-bg: #36c;
@table-header-text: white;
@table-body-bg: #f6f6f6;
@table-body-text: #333;
@table-body-text-transp: #ccc;
@table-card-bg : #f0f0f0;
@spinner: rgba(255,165,0,0.5);

@text-color: black;


@a-color: darkblue;
@a-hover-color: black;

@card-border: #999 solid 1px;


@mob: ~"only screen and (max-width: 800px)";
@daw: ~"only screen and (min-width: 801px)";
@des: ~"only screen and (min-width: 801px) and (max-width: 1800px)";
@wid: ~"only screen and (min-width: 1801px)";

@rowEvenBg: #f8f8f8;
@rowOddBg: #f0f8ff;
@headerHeightDaw: 200px;
@headerHeightMob: 100px;
@footerHeightDaw: 75px;
@footerHeightMob: 50px;

@articleHeaderBg: #f6f6f6;